body {background-color: #20760b; color: #72480e; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
h1 {background-color: #191970; color: #e6e6fa; font-family: Arial, Helvetica, sans-serif; font-size: 40px;}
h2 {background-color: #aeaed4; color: #191970; font-family: 'Times New Roman', Times, serif; font-size: 30px;}
h3 {background-color: #f3180c; color: #ede724; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;}
p {background-color: #0372da; color: #ed2485; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 11px;}

.feature {color: #ff0000;}
#footer {color: #666666;}