
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0044cc;
    font-family: 'Merriweather Sans', sans-serif; /* Sans-serif for section titles */
}

p {
    font-size: 1em;
    color: #333;
    font-family: 'Merriweather', serif;
}


/* Form Styling */
form {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form p {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    color: #0044cc;
    margin-bottom: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}

form input[type="submit"],
form input[type="reset"] {
    background: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background: #007bff;
    transform: translateY(-2px);
}
